/*****************************************************
* CSS Mockup Activity - Custom CSS Stylesheet
* @author rlewis37
*
* Some rules have been included here to give you a head start.
* Create your own custom CSS rules below. Have fun!
******************************************************/


html, body {
	margin: 0;
	box-sizing: border-box;
	font-family: monospace;
}

.container {
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix {
	clear: both;
}

/* create a responsive container */
@media only screen and (min-width: 1200px) {
	.container { width: 1170px; }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container { width: 970px; }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.container { width: 750px; }
}

/*****************************************************
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
******************************************************/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*****************************************************
* ADD YOUR OWN CSS BELOW! (ﾉ◕ヮ◕)ﾉ*:･ﾟ✧
*
* HINT: You might want to be conversant with the following:
* * Shorthand syntax for padding, margin, and borders
* * Display property and values... and the differences between them.
* * The Box Model
* * Pseudo Classes
* * Attribute Selectors
******************************************************/
@font-face {
	font-family: 'libmono';
	src: url('fonts/liberationmono-regular') format('truetype');
}
body {
	background-color: #333333;
	font-family: "libmono";
}
section{
	padding: 2em;
}

/* ---HEADER--- */
header{
	font-size: 1.5em;
	color: #00ff00;
	/*uses body background color*/
}
header > div {
	display: flex;
}
em {
	margin: auto;
	text-align: center;
	font-size: .75em;
}


/*---INSTRUCTIONS PANEL---*/
header + section{
	background-color: #ffffff;
}


/* ---WELCOME IMAGE--- */
img[src~="images/welcome.gif"] {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.instructions-wrapper {
	justify-content: space-between;
	border: 5px solid black;
	padding: 4em;
	display: flex;
}
img[src~="images/captain-janeway.png"]{
	width: 25%;
	height: auto;
}


/* ---ABOUT ME--- */
.about-me + div{
	display: flex;
}
.container > h2{
	text-align: right;
}
.about-me h2{
	text-align: left;

}
.about-me {
	background-color: #0000ff;
}
.form-wrapper {
	background-color: #006400;
}
img[src~="images/stunning.jpg"]{
	width: 35%;
	height: auto;
	border: white solid .25em;
	float: left;
	margin-right: 1.5em;
}
span{
	font-weight: bold;
	color:yellow ;
}


/* ---PROFESSIONAL SKILLZ--- */
.about-me + section{
	background-color: #ffffff;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
	background-color: #333333;
	color: #00ff00;
	width: 100%;
}
table, td, th {
	border: 1px solid white;
	padding: .5em;
	text-align: left;
}
.about-me{
	color: white;
}


/* ---CONTACT FORM--- */
.form-wrapper{
	color: lime;
	display: block;
	padding: 1em;
}
section:nth-child(5){
	display: flex;
	flex-direction:  column;
	justify-content: flex-start;
}
input {
	width: 19em;
}
label{
	display: block;
}
form > div{
	padding-top: .75em;
}
button {
	background-color: lime;
	color: black;
	border: none;
	font-family: libmono;
	font-weight: bold;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
}


/* ---FOOTER--- */
footer {
	background-color: black;
	color: white;
	text-align: center;
}